<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacje</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="wygrales">Phishing</a></li>
            <li><a href="informacje">Informacje</a></li>
            <li><a href="omnie">O mnie</a></li>
            <li><a href="statystyki">Statystyki</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Atak Phishing</h1>
        <p>Atak typu phishing to metoda cyberprzestępczości, która polega na wyłudzaniu poufnych informacji, takich jak dane logowania, numery kart kredytowych czy informacje osobiste. Oszuści wykorzystują fałszywe e-maile, SMS-y lub komunikaty na portalach społecznościowych, które wyglądają na autentyczne, aby skłonić ofiary do podania wrażliwych danych lub kliknięcia w złośliwe linki.

            Phishing często wykorzystuje inżynierię społeczną, czyli techniki manipulacji, aby przekonać ofiarę do wykonania określonych działań, takich jak podanie hasła do bankowości internetowej lub kliknięcie w link prowadzący do zainfekowanej strony. Nazwa “phishing” pochodzi od angielskiego słowa “fishing”, co oznacza łowienie ryb, ponieważ przestępcy “łowią” informacje od nieświadomych użytkowników.</p>
        <p>Istnieją różne rodzaje ataków phishingowych, w tym:</p>
        <ul class="semi-container">
            <li><b>E-mail phishing:</b> Fałszywe e-maile, które mogą zawierać zainfekowane załączniki lub linki do fałszywych stron internetowych.</li>
            <li><b>Spear phishing:</b> Bardziej ukierunkowane ataki, które celują w konkretne osoby lub organizacje, często po dokładnym rozpoznaniu.</li>
            <li><b>Smishing: Phishing</b> za pomocą SMS-ów, gdzie oszuści wysyłają wiadomości tekstowe zachęcające do kliknięcia w podejrzane linki.</li>
            <li><b>Vishing:</b> Phishing głosowy, gdzie oszuści dzwonią do ofiar i próbują wyłudzić informacje przez telefon.</li>
        </ul>
        <img src="/static/phishing.jpg" alt="phishing">
        <p>Sposoby uniknięcia ataku:</p>
        <ul class="semi-container">
            <li><b>Sprawdzaj adresy: URL:</b> Przed kliknięciem w link, sprawdź adres URL. Często ataki phishingowe polegają na kierowaniu ofiar na fałszywe strony internetowe.</li>
            <li><b>Uważaj na podejrzane e-maile</b> Większość ataków phishingowych zaczyna się od e-maila. Jeśli otrzymasz e-mail, który wydaje się podejrzany, nie otwieraj żadnych załączników ani nie klikaj w żadne linki.</li>
            <li><b>Edukacja i świadomość:</b> Najważniejszym krokiem w obronie przed phishingiem jest edukacja i zrozumienie, czym jest phishing i jak wyglądają ataki phishingowe. </li>
        </ul>
    </div>
</body>
</html>