<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O mnie</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="wygrales">Phishing</a></li>
            <li><a href="informacje">Informacje</a></li>
            <li><a href="omnie">O mnie</a></li>
            <li><a href="statystyki">Statystyki</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>O mnie</h1>
        <p>Witaj! Nazywam się Adam. Jestem studentem cyberbezpieczeństwa.</p>
        <p>Tutaj możesz znaleźć mój profil na GitHubie:</p>
        <a href="https://github.com/adamuIII"><img id="github" src="/static/github.png" alt="GitHub"></a>
    </div>
</body>
</html>