<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="wygrales">Phishing</a></li>
            <li><a href="informacje">Informacje</a></li>
            <li><a href="omnie">O mnie</a></li>
            <li><a href="statystyki">Statystyki</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Padłeś ofiarą ataku typu Phishing</h1> 
        <h2>To tylko symulacja</h2>
        <p>Phishing to metoda oszustwa internetowego, polegająca na podszywaniu się pod zaufane instytucje lub osoby w celu wyłudzenia poufnych informacji, takich jak hasła, dane finansowe czy numery kart kredytowych. Zazwyczaj odbywa się to poprzez wysyłanie fałszywych e-maili, SMS-ów czy wiadomości na platformach społecznościowych, które wyglądają jakby pochodziły od rzeczywistych organizacji. Osoby podszywające się często wykorzystują techniki manipulacji psychologicznej, aby nakłonić ofiary do udostępnienia swoich danych osobowych.</p>
        <p>Aby dowiedzieć się więcej na temat ataku wejdź w zakładkę <a href="informacje">informacja</a></p>
        
    </div>
</body>
</html>