<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="home">Home</a></li>
            <li><a href="phishing">Phishing</a></li>
            <li><a href="aboutme">About me</a></li>
            <li><a href="statistics">Statistics</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>About me</h1>
        <p>Hi! My name is Adam. I am studying cyber security.</p>
        <p>Here you can find my profile on GitHub and CTFTime:</p>
        <a href="https://github.com/adamuIII" target="_blank">  <img id="github" src="/static/github.png" alt="GitHub"></a>
        <a href="https://ctftime.org/team/282856" target="_blank"><img id="github" src="/static/ctf.png" alt="ctf"></a>
    </div>
</body>
</html>