<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="home">Home</a></li>
            <li><a href="phishing">Phishing</a></li>
            <li><a href="aboutme">About me</a></li>
            <li><a href="statistics">Statistics</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>You are a victim of a phishing attack</h1> 
        <h2>This is just a simulation</h2>
        <p class="justify-text">Phishing is a method of online fraud that involves impersonating trusted institutions or individuals to phish for sensitive information such as passwords, financial data or credit card numbers. This is usually done by sending fake emails, text messages or messages on social media platforms that look like they are from real organizations. Impersonators often use psychological manipulation techniques to persuade victims to share their personal information.</p>
        <p>To learn more about the attack, click on the link:  <a href="phishing">phishing</a></p>
        
    </div>
</body>
</html>