<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phishing</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="home">Home</a></li>
            <li><a href="phishing">Phishing</a></li>
            <li><a href="aboutme">About me</a></li>
            <li><a href="statistics">Statistics</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Phishing Attack</h1>
        <p>A phishing attack is a type of cyber attack where an attacker attempts to deceive individuals into providing sensitive information, such as usernames, passwords, credit card numbers, or other personal data, by posing as a trustworthy entity. Phishing attacks typically involve the following methods:</p>
        <p>There are different types of phishing attacks, including:</p>
        <ul class="semi-container">
            <li><b>E-mail phishing:</b> Emails that may contain infected attachments or links to fake websites.</li>
            <li><b>Spear phishing:</b> A more targeted form of phishing, where the attacker customizes the phishing message for a specific individual or organization. Spear phishing emails often include personal details to make them more convincing.</li>
            <li><b>Smishing: Phishing</b> The attacker sends text messages that appear to be from a legitimate source, containing links to fake websites or prompts to respond with personal information.</li>
            <li><b>Vishing:</b> The attacker uses phone calls to impersonate a legitimate entity, such as a bank or government agency, and attempts to trick the victim into providing personal information.</li>
        </ul>
        <img src="/static/phishing.jpg" alt="phishing">
        <p>How to avoid phishing attack:</p>
        <ul class="semi-container">
            <li><b>Check URL:</b> Before clicking on a link, check the URL. Often phishing attacks involve directing victims to fake websites.</li>
            <li><b>Watch out for suspicious emails</b> WMost phishing attacks begin with an e-mail. If you receive an e-mail that appears suspicious, do not open any attachments or click on any links.</li>
            <li><b>Education and awareness:</b> The most important step in defending against phishing is to educate yourself and understand what phishing is and what phishing attacks look like. </li>
        </ul>
    </div>
</body>
</html>